<%= render "layouts/banner" %>

<table class="table">

    <thead class="thead-light">
        <tr>
            <th scope="col">Pedido de n°</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Usuário</th>
            <th scope="col">Preço Total</th>
            <th scope="col" colspan="3">Detalhes</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order|%>
            <tr>
                <th scope="row" class="text-secondary"><%= order.id %></th>
                <td class="text-secondary"><%= Situation.find(order.situation_id).description %></td>
                <td class="text-secondary"><%= order.created_at.strftime("%d/%m/%y") %></td>
                <td class="text-secondary"><%= User.find(order.user_id).full_name %></td>
                <td class="text-secondary"><%= order.price %></td>
            </tr>
        <%end%>
    </tbody>
</table>

<%= link_to "Fazer um novo pedido", new_order_path %>

<%= render "layouts/footer" %>
