<%= render "layouts/banner" %>

<div class="container box">
    <table class="table table-hover">

<% if !session[:cart].empty? && !current_user.admin? %>
    <%= render "layouts/cart" %>
    <table class="table table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Pedido de n°</th>
                <th scope="col">Status</th>
                <th scope="col">Data</th>
                <th scope="col">Preço Total</th>
                <th scope="col" colspan="3">Detalhes</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order|%>
                <% if order.user_id == current_user.id %>
                    <tr>
                        <th scope="row" class="text-secondary"><%= order.id %></th>
                        <td class="text-secondary">
                            <% case Situation.find(order.situation_id).description%>
                                <%when "pendente"%>
                                    <div class="statusPending"><%= Situation.find(order.situation_id).description %></div>
                                <%when "entregue"%>
                                    <div class="statusDelivered"><%= Situation.find(order.situation_id).description %></div>
                                <%when "cancelado"%>
                                    <div class="statusCanceled"><%= Situation.find(order.situation_id).description %></div>
                                <%else %>
                                    <div class="statusDefault"><%= Situation.find(order.situation_id).description %></div>
                            <%end%>
                        </td>
                        <td class="text-secondary"><%= order.created_at.strftime("%d/%m/%y") %></td>
                        <td class="text-secondary"><%= number_to_currency(order.price, unit:"R$", separator:",") %></td>
                        <td ><%= link_to "ver itens pedido", order_path(order) ,class:"text-info" %></td>
                        <% if current_user.admin? %>
                            <td ><%=link_to "editar", edit_order_path(order), method: :get, class:"text-warning"%></td>
                            <td ><%=link_to "excluir", orders_path, method: :delete, data: {confirm:"Você tem certeza que quer excluir esse pedido?"}, class:"text-danger" %></td>
                        <% end %>
                    </tr>
                <% end %>
            <%end%>
        </tbody>
    </table>
<% elsif !current_user.admin? %>
    <h2>Seu último pedido:</h2>
    <p>Aguarde o seu pedido ser entregue.</p>
    <% last_order = @orders.order("created_at").last %>
    <div class="row">
        <div class="column">
            <% last_order.meals.each_with_index do |meal, index| %>
                <% if index.even? %>
                    <div class="cart-item">
                        <div class="column-item-img">
                            <%= image_tag meal.image, class:"item-bg" %>
                        </div>
                        <div class="column-item-info">
                            <h5><%= meal.name %></h5>
                            <p>Quantidade: <%= OrderMeal.where(meal_id: meal.id, order_id: last_order.id).first.quantity %></p>
                            <p>Preço unitário: <%= number_to_currency(meal.price, unit: "R$", separator: ",") %></p>
                            <p>Preço total: <%= number_to_currency(OrderMeal.where(meal_id: meal.id, order_id: last_order.id).first.quantity.to_i*meal.price, unit: "R$", separator: ",") %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="column">
            <% last_order.meals.each_with_index do |meal, index| %>
                <% if index.odd? %>
                    <div class="cart-item">
                        <div class="column-item-img">
                            <%= image_tag meal.image, class:"item-bg" %>
                        </div>
                        <div class="column-item-info">
                            <h5><%= meal.name %></h5>
                            <p>Quantidade: <%= OrderMeal.where(meal_id: meal.id, order_id: last_order.id).first.quantity %></p>
                            <p>Preço unitário: <%= number_to_currency(meal.price, unit: "R$", separator: ",") %></p>
                            <p>Preço total: <%= number_to_currency(OrderMeal.where(meal_id: meal.id, order_id: last_order.id).first.quantity.to_i*meal.price, unit: "R$", separator: ",") %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <%= link_to "Fazer outro pedido", root_path %>

    <table class="table table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Pedido de n°</th>
                <th scope="col">Status</th>
                <th scope="col">Data</th>
                <th scope="col">Preço Total</th>
                <th scope="col" colspan="3">Detalhes</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order|%>
                <% if order.user_id == current_user.id %>
                    <tr>
                        <th scope="row" class="text-secondary"><%= order.id %></th>
                        <td class="text-secondary">
                            <% case Situation.find(order.situation_id).description%>
                                <%when "pendente"%>
                                    <div class="statusPending"><%= Situation.find(order.situation_id).description %></div>
                                <%when "entregue"%>
                                    <div class="statusDelivered"><%= Situation.find(order.situation_id).description %></div>
                                <%when "cancelado"%>
                                    <div class="statusCanceled"><%= Situation.find(order.situation_id).description %></div>
                                <%else %>
                                    <div class="statusDefault"><%= Situation.find(order.situation_id).description %></div>
                            <%end%>
                        </td>
                        <td class="text-secondary"><%= order.created_at.strftime("%d/%m/%y") %></td>
                        <td class="text-secondary"><%= User.find(order.user_id).full_name %></td>
                        <td class="text-secondary"><%= number_to_currency(order.price, unit:"R$", separator:",") %></td>
                        <td ><%= link_to "ver itens pedido", order_path(order) ,class:"text-info" %></td>
                        <% if current_user.admin? %>
                            <td ><%=link_to "editar", edit_order_path(order), method: :get, class:"text-warning"%></td>
                            <td ><%=link_to "excluir", orders_path, method: :delete, data: {confirm:"Você tem certeza que quer excluir esse pedido?"}, class:"text-danger" %></td>
                        <% end %>
                    </tr>
                <% end %>
            <%end%>
        </tbody>
    </table>
<% else %>
    <table class="table table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Pedido de n°</th>
                <th scope="col">Status</th>
                <th scope="col">Data</th>
                <th scope="col">Usuário</th>
                <th scope="col">Preço Total</th>
                <th scope="col" colspan="3">Detalhes</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order|%>
                <tr>
                    <td scope="row" class="text-secondary"><%= order.id %></td>
                    <td class="text-secondary">
                        <% case Situation.find(order.situation_id).description%>
                            <%when "pendente"%>
                                <div class="statusPending"><%= Situation.find(order.situation_id).description %></div>
                            <%when "entregue"%>
                                <div class="statusDelivered"><%= Situation.find(order.situation_id).description %></div>
                            <%when "cancelado"%>
                                <div class="statusCanceled"><%= Situation.find(order.situation_id).description %></div>
                            <%else %>
                                <div class="statusDefault"><%= Situation.find(order.situation_id).description %></div>
                        <%end%>
                    </td>
                    <td class="text-secondary"><%= order.created_at.strftime("%d/%m/%y") %></td>
                    <td class="text-secondary"><%= User.find(order.user_id).full_name %></td>
                    <td class="text-secondary"><%= order.price %></td>
                    <td ><%= link_to "ver itens pedidos", order_path(order) ,class:"text-info" %></td>
                    <td ><%=link_to "editar", edit_order_path(order), method: :get, class:"text-warning"%></td>
                    <td ><%=link_to "excluir", orders_path, method: :delete, data: {confirm:"Você tem certeza que quer excluir esse pedido?"}, class:"text-danger" %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <%end%>
</div>

<div class="button-page">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pager">
            <li class="page-item page-link previous <%= @page == 0 ? 'disabled' : '' %>">
                <%= link_to_if @page > 0, "<<", orders_path(page: @page - 1) %>
            </li>
        
            <li class="page-item page-link next">
                <%= link_to ">>", orders_path(page: @page + 1) %>
            </li>
        </ul>
    </nav>
</div>


<%= render "layouts/footer" %>
