<h3>Upadate Meals Details</h3>

<%= form_with model: @meal do |form| %>
    <%= form.text_field :name, placeholder: "name"%>
    <%= form.text_field :description, placeholder: "description"%>
    <%= form.text_field :price, placeholder: "price"%>
    <div class="form-group">
        <label for="sel1">Disponibilidade</label>
        <%= form.select(:available, [['Disponível', true],['Indisponível', false]], selected: @meal.available) %>
    </div>
    <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
    </div>
    <%= form.submit %>
<% end%>
