<div class="background">
    <div class="container1 " >
        <div><a class="navbar-brand">dinnerdash</a> </div>
        <div class="items">
            <% if user_signed_in? && current_user.admin? %>
                <a class="nav-item nav-link">Backoffice</a>
            <% end %>
            <a class="nav-item nav-link">Perfil</a>
            <a class="nav-item nav-link">|</a>
            <a class="nav-item nav-link">Sair</a>
        </div>
    </div>
    <div class="title">
        <% if user_signed_in? && current_user.admin? %>
            <p class="title1">Backoffice</p>
            <p class="title2">Gerencie pedidos, refeições e mais</p>
            <div class="menu"> 
                <a class="nav-item nav-link">Pedidos</a>
                <a class="nav-item nav-link">Usuários</a>
                <a class="nav-item nav-link">Refeições</a>
                <a class="nav-item nav-link">Categorias de Refeições</a>
            </div>
        <% elsif user_signed_in? %>
            <p class="title1">Bem vindo, <%= current_user.username %>!</p>
            <p class="title2">Escolha sua salada, molho, prato principal, guarnição e bebida</p>
        <% else %>
            <p class="title1">Monte seu prato</p>
            <p class="title2">Escolha sua salada, molho, prato principal, guarnição e bebida</p>
        <% end %>
    </div>
</div>

<table>
    <% @categories.each do |category| %>
        <% unless @meals.where(category_id: category.id).empty? %>
            <h2><%= category.name %></h2>
            <div class="category-container">
                <% @meals.where(category_id: category.id).each do |meal| %>
                    <div class="meal-container">
                        <% if meal.available %>
                            <div class="meal-bg" style="background-image: url(<%= rails_blob_url(meal.image) %>)">
                                <div class="meal-name">
                                    <%= meal.name %>
                                </div>
                            </div>
                        <% else %>
                            <div class="meal-bg" style="background-image: url(<%= rails_blob_url(meal.image) %>)">
                                <div class="meal-bg-not-available">refeição indisponível</div>
                                <div class="meal-name">
                                    <%= meal.name %>
                                </div>
                            </div>
                        <% end %>
                        <div class="meal-display">
                            <p><%= meal.description %></p>
                            <h5><%= number_to_currency(meal.price, unit: "R$", separator: ",") %> por porção</h5>
                            <% if user_signed_in? && current_user.admin? %>
                                <div class="meal-buttons">
                                    <%= button_to "Editar", edit_meal_path(meal), method: :get, class: "btn btn-warning" %>
                                    <%= button_to 'Excluir', meal_path(meal), method: :delete, data: {confirm:"Are you sure ?"}, class: "btn btn-danger" %>
                                </div>
                            <% else %>
                                
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</table>

<%= link_to 'Create a Meal', new_meal_path %>
