<h1><%= @meal.name %></h1>
<h3> <%= @meal.description %></h3>
<h4><%= @meal.price %></h4>
<h5><%= @meal.available %></h5>

<%= image_tag(@meal.image) %>

<%= link_to 'Back', meals_path %>
<%= link_to 'Delete', @meal, method: :delete, data: {confirm:"Are you sure ?"} %>
