<%= render "layouts/banner" %>

<div class="oi">
  <div class="container box">
      <%= form_with model: @category do |form| %>
        <%= form.text_field :name, placeholder: "name" %>

        <%= form.submit "Criar categoria", class: "button" %>
      <% end %>
  </div>
</div>

<%= render 'layouts/footer'%>