<table class="table table-hover">

    <thead class="thead-light">
        <tr>
            <th scope="col">Pedido de n°</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Usuário</th>
            <th scope="col">Preço Total</th>
            <th scope="col" colspan="3">Detalhes</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order|%>
            <% if order.user_id == current_user.id %>
                <tr>
                    <th scope="row" class="text-secondary"><%= order.id %></th>
                    <td class="text-secondary"><%= Situation.find(order.situation_id).description %></td>
                    <td class="text-secondary"><%= order.created_at.strftime("%d/%m/%y") %></td>
                    <td class="text-secondary"><%= User.find(order.user_id).full_name %></td>
                    <td class="text-secondary"><%= number_to_currency(order.price, unit:"R$", separator:",") %></td>
                    <td ><%= link_to "ver itens pedido", order_path(order) ,class:"text-info" %></td>
                    <% if current_user.admin? %>
                        <td ><%=link_to "editar", edit_order_path(order), method: :get, class:"text-warning"%></td>
                        <td ><%=link_to "excluir", orders_path, method: :delete, data: {confirm:"Você tem certeza que quer excluir esse pedido?"}, class:"text-danger" %></td>
                    <% end %>
                </tr>
            <% end %>
        <%end%>
    </tbody>
</table>