<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <% if flash[:warning] %>
      <div class="alert alert-warning" id="flash"><%= flash[:warning] %></div>
      <script type="text/javascript">
        $(document).ready(function(){
          setTimeout(function(){
          $('#flash').fadeOut();
          }, 2000);
        })
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
